/* css cho phần sản phẩm */
.title-products {
  text-align: center;
  margin: 10px 0;
}
.macbook-smartphone {
  display: flex;
  justify-content: space-between;
}
.ipad-airpods {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.macbook-smartphone :hover,
.ipad-airpods :hover {
  cursor: pointer;
  opacity: 0.7;
}
