/* css cho component checkout */

.banner {
  display: flex;
  justify-content: space-between;
  padding: 50px 20px;
  background-color: aliceblue;
  margin-bottom: 10px;
}
.link:hover {
  cursor: pointer;
  color: red;
}
